# 04 - Instagram Media Likes

Average of latest 12 posts likes

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import requests
from bs4 import BeautifulSoup
import ast
import numpy as np
import pandas as pd
from pandas import read_csv
import unidecode
from time import sleep

In [2]:
df = read_csv('tables/nome_instagram.csv', encoding='ansi')
df.head()

            nome                             instagram
0  Kylian Mbappé   https://www.instagram.com/k.mbappe/
1         Neymar    https://www.instagram.com/neymarjr
2   Lionel Messi    https://www.instagram.com/leomessi
3  Mohamed Salah    https://www.instagram.com/mosalah/
4     Harry Kane  https://www.instagram.com/harrykane/

In [3]:
df.instagram[df.instagram.isnull()]=''
df['urls'] = ['https://web.stagram.com/'+x.strip('/').split('/')[-1] for x in df.instagram.values]

In [4]:
df.head()

,nome,instagram,urls
0,Kylian Mbappé,https://www.instagram.com/k.mbappe/,https://web.stagram.com/k.mbappe
1,Neymar,https://www.instagram.com/neymarjr,https://web.stagram.com/neymarjr
2,Lionel Messi,https://www.instagram.com/leomessi,https://web.stagram.com/leomessi
3,Mohamed Salah,https://www.instagram.com/mosalah/,https://web.stagram.com/mosalah
4,Harry Kane,https://www.instagram.com/harrykane/,https://web.stagram.com/harrykane

In [7]:
df['likes_avg'] = np.nan
df.loc[df.instagram=='', 'urls'] = np.nan
df.head()

,nome,instagram,urls,likes_avg
0,Kylian Mbappé,https://www.instagram.com/k.mbappe/,https://web.stagram.com/k.mbappe,NaN
1,Neymar,https://www.instagram.com/neymarjr,https://web.stagram.com/neymarjr,NaN
2,Lionel Messi,https://www.instagram.com/leomessi,https://web.stagram.com/leomessi,NaN
3,Mohamed Salah,https://www.instagram.com/mosalah/,https://web.stagram.com/mosalah,NaN
4,Harry Kane,https://www.instagram.com/harrykane/,https://web.stagram.com/harrykane,NaN

In [26]:
driver = webdriver.Chrome(executable_path='chromedriver')
driver.maximize_window()
i = 0
for url in df.urls:
    if df.loc[i,'likes_avg'] > 0:
        i+=1
        pass
    else:
        if isinstance(url,float):
            i+=1
            pass
        else:
            try:  
                driver.get(url)
                sleep(3)
                divs = [x.text for x in driver.find_elements_by_class_name('card-footer')]
                if divs:
                    total_likes = []
                    for div in divs:
                        total_likes.append(int(div.split(' ')[0].replace(',','')))
                    likes_avg = np.array(total_likes).mean().round(1)
                    df.loc[i,'likes_avg'] = likes_avg      
            except:
                pass
            i += 1
driver.quit()

In [27]:
df.head()

,nome,instagram,urls,likes_avg
0,Kylian Mbappé,https://www.instagram.com/k.mbappe/,https://web.stagram.com/k.mbappe,1350438.8
1,Neymar,https://www.instagram.com/neymarjr,https://web.stagram.com/neymarjr,1570714.8
2,Lionel Messi,https://www.instagram.com/leomessi,https://web.stagram.com/leomessi,3483999.8
3,Mohamed Salah,https://www.instagram.com/mosalah/,https://web.stagram.com/mosalah,1260163.8
4,Harry Kane,https://www.instagram.com/harrykane/,https://web.stagram.com/harrykane,176495.6

In [28]:
df[(df.likes_avg.isnull())]

                nome instagram urls  likes_avg
31   Sergio Busquets            NaN        NaN
116            Rodri            NaN        NaN
220       Danny Rose            NaN        NaN
260     Abdou Diallo            NaN        NaN

In [29]:
df.to_csv('columns/insta_likes_avg.csv', encoding='ansi')